<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ALPOGalleryTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ALPOGalleryTool.Properties.Settings.MongoCnnStr" connectionString="mongodb+srv://alpoReader:30Jrq2Rq2V6eDDIK@tomneytrain0-zgh3l.mongodb.net/test?retryWrites=true&amp;w=majority" />
    <add name="ALPOGalleryTool.Properties.Settings.SqlSrvCnnStr"
      connectionString="Data Source=tcp:s25.winhost.com;Initial Catalog=DB_50230_familydata;Persist Security Info=True;User ID=DB_50230_familydata_user;Password=P!sc3sGlyxM74"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <ALPOGalleryTool.Properties.Settings>
      <setting name="VenusUrl" serializeAs="String">
        <value>http://alpo-astronomy.org/gallery3/index.php/Venus_Images_and_Observations/Venus-2023-2024/</value>
      </setting>
      <setting name="SolarUrl" serializeAs="String">
        <value>http://alpo-astronomy.org/gallery3/index.php/Solar-Observations-Archive/</value>
      </setting>
      <setting name="SaturnUrl" serializeAs="String">
        <value>http://alpo-astronomy.org/gallery3/index.php/Saturn-Images-and-Observations/Saturn-Images-2024-2025/</value>
      </setting>
      <setting name="RemoteUrl" serializeAs="String">
        <value>https://alpo-astronomy.org/gallery3/index.php/Remote-Planets-Images/2024/</value>
      </setting>
      <setting name="MarsUrl" serializeAs="String">
        <value>https://alpo-astronomy.org/gallery3/index.php/Mars-Images-and-Observations/2025-Mars-Apparition/</value>
      </setting>
      <setting name="JupiterUrl" serializeAs="String">
        <value>http://alpo-astronomy.org/gallery3/index.php/Jupiter-Images-and-Observations/Apparition-2023-2024/</value>
      </setting>
      <setting name="SolarStaged" serializeAs="String">
        <value>C:\Users\Jim\Documents\Astronomy\ALPO Online Content\Solar\Reports</value>
      </setting>
      <setting name="JupiterStaged" serializeAs="String">
        <value>C:\Users\Jim\Documents\Astronomy\ALPO Online Content\Jupiter\Reports</value>
      </setting>
      <setting name="MarsStaged" serializeAs="String">
        <value>C:\Users\Jim\Documents\Astronomy\ALPO Online Content\Mars\Reports</value>
      </setting>
      <setting name="SaturnStaged" serializeAs="String">
        <value>C:\Users\Jim\Documents\Astronomy\ALPO Online Content\Saturn\Reports</value>
      </setting>
      <setting name="VenusStaged" serializeAs="String">
        <value>C:\Users\Jim\Documents\Astronomy\ALPO Online Content\Venus\Reports</value>
      </setting>
      <setting name="MercuryStaged" serializeAs="String">
        <value>C:\Users\Jim\Documents\Astronomy\ALPO Online Content\Mercury\Reports</value>
      </setting>
      <setting name="RemoteStaged" serializeAs="String">
        <value>C:\Users\Jim\Documents\Astronomy\ALPO Online Content\Remote_Planets\Reports</value>
      </setting>
      <setting name="EclipseStaged" serializeAs="String">
        <value>C:\Users\Jim\Documents\Astronomy\ALPO Online Content\Eclipse\Reports\</value>
      </setting>
      <setting name="EclipseUrl" serializeAs="String">
        <value>https://alpo-astronomy.org/gallery3/index.php/Eclipse-Images/</value>
      </setting>
      <setting name="MercuryUrl" serializeAs="String">
        <value>http://alpo-astronomy.org/gallery3/index.php/MercuryImagesandObservations/Mercury_2024/</value>
      </setting>
    </ALPOGalleryTool.Properties.Settings>
  </applicationSettings>
</configuration>